.App {
  text-align: center;
  

}

.headerinfo{
  /* margin-top: -50px; */
  display: flex;
  margin: auto;
  
}
.info{
  background-color: white;
}
.info:hover{
  background-color: #e22f1760;
  color: white;
}
.infoIcon{
  color:#d33f2c;
  margin: 20px auto;
  font-size: 3rem;
}
.infoIcon:hover{
  color: antiquewhite;
}

.priceInfo{
  display: inline-block;
  background-color: #d33f2c;
  color: white;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 0;
  text-align: center;
 
}

